{% load static %}
<section id="features" class="section-padding">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Features incríveis</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>

        <div class="row">
        <!-- Features coluna Esquerda-->
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-left">
              {% for f in features_col1%}
              <div class="box-item wow fadeInLeft" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="{{f.icone}}"></i>
                </span>
                <div class="text">
                  <h4>{{f.nome}}</h4>
                  <p>{{f.descricao}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- Features coluna Esquerda FINAL-->

          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="show-box wow fadeInUp" data-wow-delay="0.3s">
              <img src="{% static 'img/feature/intro-mobile.png' %}" alt="">
            </div>
          </div>

          <!-- Features coluna Direita-->
          <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="content-right">
              {% for f in features_col2 %}
              <div class="box-item wow fadeInRight" data-wow-delay="0.3s">
                <span class="icon">
                  <i class="{{f.icone}}"></i>
                </span>
                <div class="text">
                  <h4>{{f.nome}}</h4>
                  <p>{{f.descricao}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <!-- Features coluna Direita FINAL-->
        </div>
      </div>
    </section>