{% load static %}
<section id="team" class="section-padding bg-gray">
      <div class="container">
        <div class="section-header text-center">
          <h2 class="section-title wow fadeInDown" data-wow-delay="0.3s">Conheça Nossa Equipe</h2>
          <div class="shape wow fadeInDown" data-wow-delay="0.3s"></div>
        </div>
        <div class="row">
          {% for e in equipe %}
            <div class="col-lg-6 col-md-12 col-xs-12">
                <!-- Team Item Starts 1-->
                <div class="team-item wow fadeInRight" data-wow-delay="0.2s">
                  <div class="team-img">
                    <img class="img-fluid" src="{{ e.imagem.thumb.url }}" alt="{{e.nome}}">
                  </div>
                  <div class="contetn">
                    <div class="info-text">
                      <h3><a href="#">{{ e.nome }}</a></h3>
                      <p>{{ e.cargo }}</p>
                    </div>
                    <p>{{e.bio}}</p>
                    <ul class="social-icons">
                      <li><a href="{{ e.facebook }}"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                      <li><a href="{{ e.twitter }}"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                      <li><a href="{{ e.instagram }}"><i class="lni-instagram-filled" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </div>
                <!-- Team Item Ends -->
            </div>
          {% endfor %}
          </div>
      </div>
    </section>